@function spacing($numbers...) {
  $space: 4;
  $newList: ();

  @if length($numbers) == 0 {
    $newList: append($newList, $space);
  }
  @each $number in $numbers {
    @if type-of($number) == number {
      @if $number == 0 {
        $number: $number * $space;
      } @else {
        $number: $number * $space + px;
      }
    } @else if type-of($number) == string {
      $number: $number;
    }
    $newList: append($newList, $number);
  }
  @return $newList;
}
